*{
    border: none;
    margin: 0;
}

iv {
    border: solid;
}
#div_01 {
    height: 750px;
    display: flex;
    
    background-image:url(Rectangle\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#caixa_div01 {
    height: 600px;
    margin: 60px;
    width: 450px;
    background-color: #C2B47F;
    opacity: 80%;
    border-radius: 10px;
    
}
#text1_div01 {
    margin: 40px;
    color: #E6E6E6;
    font-size: 48px;
}
#div_02 {
    height: 60vh;
    display: flex;
    background-color: #C2B47F;
    
}
#caixa_div02 {
    display: flex;
}
#caixa_div02 > div {
    width: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text1_div02 > h1 {
    text-align: center;
}

#div02_caixaroxa {
    height: 231px;
    background-color: #7E508E;
    width: 288px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text1_div02 {
    width: 288px;
    text-align: justify;
    color: #E6E6E6;
}
#div_03{
    height: 40vh;
    background-color: #C2B47F;
    text-align: center;
}
#listas_div03 {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 15px;
    color: #E6E6E6;
}
#titulo_div03 {
    color: #E6E6E6;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#botao_escuro {
    height: 40px;
    width: 100px;
    background-color: #C2B47F;
    border-radius: 30px;
    position: relative;
    left: 22cm;
    top: 1cm;
}
#bola {
    height: 35px;
    width: 37px;
    background-color: #7E508E;
    border-radius: 30px;
    margin-left: 5px;
    margin-top:2px ;
}

#rodape{
    height: 30vh;
    background-color: #76705A;
    display: flex;
    flex-direction: column;
    color: #E6E6E6;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#icons_rodape {
    width: 40px;
    margin: 5px;
 
}
#icone_rodape {
    display: flex;
}
#carrossel {
    height: 80vh;
    background-color: #C2B47F;
}
#contato {
    height: 60vh;
    background-color: #C2B47F;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
#icon_contato {
    width: 75px;
    margin-top: 30px;
    margin-right: 70px;
  
}
#contato_01 {
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
}
#contato_text {
    font-size: 2rem;
    height: 80px;
    display: flex;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #E6E6E6;
    align-items:end;
}
#botao{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
#carrossel {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;
}
#img {
    display: flex;
    

    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
 
    height: 500px;
    width: 1010px;
}

.container {
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;

    border: solid;
    height: 500px;
    width: 1000px;
}

img {
    object-fit: cover;
}
#txt_projetos {
    color: #E6E6E6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

@media screen and (max-width: 1040px) {
    
}
